<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    nethserver-cockpit-hotsync
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="../base1/patternfly.css" rel="stylesheet">
  <link href="../../static/branding.css" rel="stylesheet">
  <link href="../nethserver/applications/style.css" rel="stylesheet">

  <!-- build:css main.min.css -->
  <link href="styles/main.css" rel="stylesheet">
  <!-- endbuild -->

</head>

<body ng-app="nethserverCockpitHotsyncApp" ng-controller="HotsyncCtrl" ng-csp>
  <div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 app-summary">
        <h1 class="app-header">
          {{labels.app_header}}
        </h1>
        <h3 ng-if="hsyncConfigured === true">{{labels.section_status_title}}</h3>
        <div ng-if="hsyncConfigured === true && roleSaved == 'master'" class="row row-cards-pf">

          <div class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <div class="card-pf">
              <h2 class="card-pf-title">
                {{labels.section_status_card1_header}}:
                <span ng-if="hsyncSettings.status == 'disabled'" class="text-danger">{{labels.section_status_disabled}}</span>
                <span ng-if="hsyncSettings.status == 'enabled'" class="text-success">{{labels.section_status_enabled}}</span>
              </h2>
              <div ng-if="hsyncSettings.status == 'enabled'" class="card-pf-body">
                <p>{{labels.section_status_card1_body2}}</p>
              </div>
              <div ng-if="hsyncSettings.status == 'disabled'" class="card-pf-body">
                <p>{{labels.section_status_card1_body1}}</p>
              </div>
              <div class="card-pf-footer">
                <p>
                  <a ng-if="hsyncSettings.status == 'enabled'" ng-click="setHotsyncStatus('disabled')" class="card-pf-link-with-icon pointer">
                    <span class="fa fa-times"></span>{{labels.section_status_card1_action2}}
                  </a>
                  <a ng-if="hsyncSettings.status == 'disabled'" ng-click="setHotsyncStatus('enabled')" class="card-pf-link-with-icon pointer">
                    <span class="fa fa-check"></span>{{labels.section_status_card1_action1}}
                  </a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <div class="card-pf">
              <h2 class="card-pf-title">
                {{labels.section_status_card2_header}}:
                <span ng-if="hsyncSettings.sqlSync == 'disabled'" class="text-danger">{{labels.section_status_disabled}}</span>
                <span ng-if="hsyncSettings.sqlSync == 'enabled'" class="text-success">{{labels.section_status_enabled}}</span>
              </h2>
              <div class="card-pf-body">
                <p>{{labels.section_status_card2_body}}</p>
              </div>
              <div class="card-pf-footer">
                <p>
                  <a ng-if="hsyncSettings.sqlSync == 'enabled'" ng-click="setMysqlSync('disabled')" class="card-pf-link-with-icon pointer">
                    <span class="fa fa-times"></span>{{labels.section_status_card2_action2}}
                  </a>
                  <a ng-if="hsyncSettings.sqlSync == 'disabled'" ng-click="setMysqlSync('enabled')" class="card-pf-link-with-icon pointer">
                    <span class="fa fa-check"></span>{{labels.section_status_card2_action1}}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="hsyncConfigured === true && roleSaved == 'slave'" class="row row-cards-pf">
          <div class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <div class="card-pf">
              <h2 class="card-pf-title">
                {{labels.section_status_card3_header}}
              </h2>
              <div class="card-pf-body">
                <p>{{labels.section_status_card3_body}}</p>
              </div>
              <div class="card-pf-footer">
                <p>
                  <a ng-click="startPromotion()" class="card-pf-link-with-icon pointer">
                    <span class="fa fa-check"></span>{{labels.section_status_card3_action}}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /row -->

      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 app-settings">
        <h3>{{labels.section_settings_title}}</h3>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <form class="form-horizontal" ng-submit="setProp(hsyncSettings.host, hsyncSettings.password, hsyncSettings.role)">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputError-markup">{{labels.section_settings_form_label1}}</label>
              <div class="col-sm-9">
                <div class="btn-group bootstrap-select dropdown form-control" data-field="chunk">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <span class="pull-left">{{hsyncSettings.role == 'master' ? labels.section_settings_form_selectval1 : hsyncSettings.role == 'slave' ? labels.section_settings_form_selectval2 : labels.section_settings_form_selectval0}}</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-click="setRole('master')" class="{{hsyncSettings.role == 'master' ? 'selected' : ''}}"><a>{{labels.section_settings_form_selectval1}}</a></li>
                    <li ng-click="setRole('slave')" class="{{hsyncSettings.role == 'slave' ? 'selected' : ''}}"><a>{{labels.section_settings_form_selectval2}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div ng-if="hsyncSettings.role !== ''" class="form-group">
              <label ng-if="hsyncSettings.role == 'master'" class="col-sm-3 control-label" for="textInput-markup">{{labels.section_settings_form_label2_2}}</label>
              <label ng-if="hsyncSettings.role == 'slave'" class="col-sm-3 control-label" for="textInput-markup">{{labels.section_settings_form_label2_1}}</label>
              <label ng-if="hsyncSettings.role != 'slave' && hsyncSettings.role != 'master'" class="col-sm-3 control-label" for="textInput-markup">{{labels.section_settings_form_label2_12}}</label>
              <div class="col-sm-9">
                <input ng-model="hsyncSettings.host" type="text" id="textInput-markup" class="form-control" required>
              </div>
            </div>
            <div ng-if="hsyncSettings.role !== ''" class="form-group">
              <label class="col-sm-3 control-label" for="textInputDisabled-markup">{{labels.section_settings_form_label3}}</label>
              <div class="col-sm-9">

                <div class="input-group">
                  <input ng-model="hsyncSettings.password" type="password" id="passwdHotsync" name="password" class="form-control" data-toggle="password" required>
                  <span class="input-group-btn">
                    <button ng-click="hideShowPasswd()" class="btn btn-default" type="button"><i id="passwdIcon" class="fa fa-eye" aria-hidden="true"></i></button>
                  </span>
                </div>

                <i>{{labels.section_settings_form_label3_ps}}</i>
              </div>
            </div>
            <div ng-if="hsyncSettings.role !== ''" class="form-group">
              <label class="col-sm-3 control-label" for="inputError-markup"></label>
              <div class="col-sm-9">
                <button class="btn btn-primary" type="submit">{{labels.section_settings_form_save}}</button>
                <button ng-click="clearSettings()" class="btn btn-default" type="button">{{labels.section_settings_form_cancel}}</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <script src="../base1/jquery.min.js"></script>
  <script src="../base1/cockpit.min.js"></script>
  <script src="../nethserver/core.min.js"></script>

  <!-- build:js app.min.js -->
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/hotsync.js"></script>
  <!-- endbuild -->

</body>

</html>
