<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    nethserver-cockpit-hotsync
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="../base1/patternfly.css" rel="stylesheet">
  <link href="../../static/branding.css" rel="stylesheet">
  <link href="../nethserver/applications/style.css" rel="stylesheet">

  <!-- build:css main.min.css -->
  <link href="styles/main.css" rel="stylesheet">
  <!-- endbuild -->

</head>

<body ng-app="nethserverCockpitHotsyncApp" ng-controller="HotsyncCtrl" ng-csp>
  <div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 app-summary">
        <h1 class="app-header">
          NethServer Hotsync
        </h1>
        <h3 ng-if="hsyncConfigured === true">Status</h3>
        <div ng-if="hsyncConfigured === true" class="row row-cards-pf">

          <div class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <div class="card-pf">
              <h2 class="card-pf-title">
                Hotsync Status:
                <span ng-if="hsyncSettings.status == 'disabled'" class="text-danger">Disabled</span>
                <span ng-if="hsyncSettings.status == 'enabled'" class="text-success">Enabled</span>
              </h2>
              <div ng-if="hsyncSettings.status == 'enabled'" class="card-pf-body">
                <p>Set Hotsync status as disabled</p>
              </div>
              <div ng-if="hsyncSettings.status == 'disabled'" class="card-pf-body">
                <p>Set Hotsync status as enabled</p>
              </div>
              <div class="card-pf-footer">
                <p>
                  <a ng-if="hsyncSettings.status == 'enabled'" ng-click="setHotsyncStatus('disabled')" class="card-pf-link-with-icon pointer">
                    <span class="fa fa-times"></span>Disable Hotsync
                  </a>
                  <a ng-if="hsyncSettings.status == 'disabled'" ng-click="setHotsyncStatus('enabled')" class="card-pf-link-with-icon pointer">
                    <span class="fa fa-check"></span>Enable Hotsync
                  </a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <div class="card-pf">
              <h2 class="card-pf-title">
                Mysql Synchronization:
                <span ng-if="hsyncSettings.sqlSync == 'disabled'" class="text-danger">Disabled</span>
                <span ng-if="hsyncSettings.sqlSync == 'enabled'" class="text-success">Enabled</span>
              </h2>
              <div class="card-pf-body">
                <p>If Mysql is installed, it will be synchronized by default</p>
              </div>
              <div class="card-pf-footer">
                <p>
                  <a ng-if="hsyncSettings.sqlSync == 'enabled'" ng-click="setMysqlSync('disabled')" class="card-pf-link-with-icon pointer">
                    <span class="fa fa-times"></span>Disable Mysql
                  </a>
                  <a ng-if="hsyncSettings.sqlSync == 'disabled'" ng-click="setMysqlSync('enabled')" class="card-pf-link-with-icon pointer">
                    <span class="fa fa-check"></span>Enable Mysql
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 app-settings">
        <h3>Settings</h3>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <form class="form-horizontal" ng-submit="setProp(hsyncSettings.host, hsyncSettings.password, hsyncSettings.role)">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="inputError-markup">Local server Role</label>
              <div class="col-sm-9">
                <div class="btn-group bootstrap-select dropdown form-control" data-field="chunk">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    <span class="pull-left">{{hsyncSettings.role == 'master' ? 'Master' : hsyncSettings.role == 'slave' ? 'Slave' : 'Select role'}}</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-click="setRole('master')" class="{{hsyncSettings.role == 'master' ? 'selected' : ''}}"><a>Master</a></li>
                    <li ng-click="setRole('slave')" class="{{hsyncSettings.role == 'slave' ? 'selected' : ''}}"><a>Slave</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div ng-if="hsyncSettings.role !== ''" class="form-group">
              <label ng-if="hsyncSettings.role == 'master'" class="col-sm-3 control-label" for="textInput-markup">Remote Slave IP</label>
              <label ng-if="hsyncSettings.role == 'slave'" class="col-sm-3 control-label" for="textInput-markup">Remote Master IP</label>
              <div class="col-sm-9">
                <input ng-model="hsyncSettings.host" type="text" id="textInput-markup" class="form-control" required>
              </div>
            </div>
            <div ng-if="hsyncSettings.role !== ''" class="form-group">
              <label class="col-sm-3 control-label" for="textInputDisabled-markup">Password</label>
              <div class="col-sm-9">

                <div class="input-group">
                  <input ng-model="hsyncSettings.password" type="password" id="passwdHotsync" name="password" class="form-control" data-toggle="password" required>
                  <span class="input-group-btn">
                    <button ng-click="hideShowPasswd()" class="btn btn-default" type="button"><i id="passwdIcon" class="fa fa-eye" aria-hidden="true"></i></button>
                  </span>
                </div>

                <i>The password must be the same for Slave and Master!</i>
              </div>
            </div>
            <div ng-if="hsyncSettings.role !== ''" class="form-group">
              <label class="col-sm-3 control-label" for="inputError-markup"></label>
              <div class="col-sm-9">
                <button class="btn btn-primary" type="submit">Save</button>
                <button ng-click="clearSettings()" class="btn btn-default" type="button">Cancel</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <script src="../base1/jquery.min.js"></script>
  <script src="../base1/cockpit.min.js"></script>
  <script src="../nethserver/core.min.js"></script>


  <!-- build:js app.min.js -->
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/hotsync.js"></script>
  <!-- endbuild -->

</body>

</html>
